.wall_title::after {
	content: ", нет блин потолок";
}

.user_online_box {
	visibility: hidden;
}

.user_online_box::before {
	color: white;
	visibility: visible;
	font-size: 14px;
	content: 'Чилит';
}

.title_box {
	color: white;

	background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
	background-size: 300% 100%;

	animation: bcg-move 30s ease infinite;
}

@keyframes bcg-move {
	0%   { background-position: 0% 50%; }
	50%  { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}
